.product_list 
{
	max-height: 97.5vh;
	max-width: 100vw;
	display: flex;
	flex-wrap: wrap;
}

.product
{
	margin-top: 1vh;
	margin-left: 0.5vw;
	margin-right: 0.5vw;
	width: 25vw;
	height: 25vh;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	text-align: center;
}

.product:hover 
{
	background-color: #ccf5ff;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

.product_details
{
}

.img_div
{
	margin-top: 0.5vh;
	width: 12.5vw;
	height: 12.5vh;
	margin: 0.5vh auto;
}

.img_div img
{
	width: 100%;
	height: 100%;
}

p 
{
	margin-block-start: 0em;
	margin-block-end: 0em;
	font-size: 1vw;
}

.p_inline
{
	display: inline;
}

.p_name 
{
	font-size: 2.5vh;
}

.p_stock
{
	font-size: 1vh;
}



.p_description 
{
	font-size: 1.3vh;
}

.product_description 
{
	margin-top: 0.5vh;
}

.nav_bar
{
	width: 100vw;
	height: 2.5vh;
}

.pannier
{
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	height: 100%;
	margin-right: 1vw;
	float: right;
}

.promo 
{
	color: red;
}

