#ticket 
{
	margin-top: 2.5vh;
	margin-bottom: 2.5vh;
	margin-left: 35vw;
	width: 30vw;
	height: 94.8vh;
	overflow: auto;
	border-style: solid;
	border-width: 0.1vh;
}

#product
{
	display: flex;
	width: 100%;
}

.show_prod
{
	width:100%;
	height: 2.5vh;
	display: flex;
}

.qt
{
	min-width:5%;
	text-align: center;
}

.name
{
	min-width: 55%;
}

.prix
{
	min-width: 20%;
}

.title
{
	margin-top: 0.2vh;
	text-align : center;
}

.title p 
{
	font-size: 2vh;
	margin-block-start: 0em;
	margin-block-end: 0em;
}

.total
{
	font-size: 1.5vh;
	text-align: right;
}

.big_total
{
	font-size: 2.5vh;
	text-align: right;
}
